@import '../../components/signup-card/signup-card.component.scss';
@import '../login-page/login-page.component.scss';

.login-page-bg > .signup-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 520px;

  @media (max-width: 768px) {
    min-height: 580px;
  }

  @media (max-width: 480px) {
    min-height: auto;
  }
}
