{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "bracketSameLine": false
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
